#about > .container{
    padding: 1.5em;
    flex-direction: column;
}

.about-content {
    margin-top: 1.5em;
    text-align: left;
    justify-content: space-between;
}

.about-content img {
    width: 360px;
    height: 100%;
    min-width: 200px;
    border: 10px solid #FFF;
    border-bottom: 45px solid #FFF;
    transform: rotate(-8deg);
    margin-right: 50px;
    margin-top: 20px;
}

.about-text {
    width: 50%;
}

.about-content p {
    margin-bottom: 10px;
}