header {
    background-color: #8AAB93;
    padding: 10px;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

h1, h1 img {
    height: 1.5em;
}


nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    nav ul {
        width: 100%;
        text-align: center;
    }

    nav ul li {
        margin: 1em;
    }
}