#news-courses {
    margin-top: 2em;
}

#news-courses .container{
    padding: 0 50px;
}

.carousel {
    height: 350px;
}

.carousel img {
    height: 350px;
}


.carousel-control-prev, .carousel-control-next {
    filter: invert(70%);
}

.carousel-indicators {
    margin-bottom: -25px;
    filter: invert(30%);
}

.courses {
    height: 100%;
    margin-top: 2em;
    background-color: #9AB8A2;
    padding: 8px;
}

.courses a {
    text-decoration: none;
}

.courses a h2 {
    color: #FFF;
}

.courses ul {
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    list-style: none;
}

.courses ul li  {
    width: 130px;
    min-width: 130px;
    margin: 0 8px;
}

.courses ul li a{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 500ms;
}

.courses ul li a img {
    width: 100%;
    border-radius: 5px;
}

.courses ul li a p {
    width: 100%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 0px 0px 5px 5px ;
    margin-bottom: 0;
}

.courses ul li a:hover {
    transform: scale(1.05);
}
