.social-projects > .container {
    flex-direction: column;
    padding-top: 1.5em;
}

.social-projects h2 {
    margin-bottom: 1.5em;
}

.project-content {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);;
}

.project-text {
    width: 60%;
}

.project-text h3 {
    text-align: center;
    margin-bottom: 1em;
}

.project-text p {
    margin-bottom: .5em;
}

.project-media {
    width: 25%;
}

.polaroid {
    width: 120%;
    min-width: 250px;
    transform: rotate(5deg);
    border: 8px solid #FFF;
    border-bottom: 40px solid #FFF;
    margin-bottom: 3em;
}

.faixa {
    width: 100%;
    min-width: 250px;
    margin-bottom: 3em;
    border: 8px solid #FFF;
}

.project-content:nth-child(odd) .project-text {
    order: 1;
}

.project-content:last-child {
    border: none;
}

.project-content:last-child .polaroid {
    margin: 0;
}

@media screen and (max-width:600px) {
    .social-projects{
        margin-bottom: 1.5em;
    }

    .project-content {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
    }

    .project-text h3 {
        margin: 1em 0;
    }

    .project-text {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .project-media {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .polaroid {
        transform: rotate(0);
        width: 100%;
    }
}